<div class="border">
    <h3>Quate area.</h3>
    <form (ngSubmit)="submitDisplay()">
        <input class="form-control" type="text" name="name" [(ngModel)]="formName" placeholder="your name..">

        <input class="form-control" type="text" name="author" [(ngModel)]="formAuthor" placeholder="Authors name...">
        <textarea class="form-control" name="message" cols="30" rows="5" [(ngModel)]="formMessage"></textarea>

        <button type="submit" class="form-control" class="btn btn-info ">SEND</button>
        <p></p>
    </form>
    <hr>
    <p>Name: <span>{{formName}} </span></p>
    <p>Author: <span>{{formAuthor}} </span></p>
    <p>Quate: <span>{{formMessage}} </span></p>

    <!-- <div>
        <div ngFor="let displays of displays">
            <h1 class="margine-none"> {{displays.formName}}</h1>
            <p class="margine-none">{{displays.formEmail}} </p>
            <small class="margine-none">{{displays.formMessage}} </small>
            <hr>
        </div>
    </div>
    <app-display [displayx]='displays'></app-display> -->
    <!-- <div *ngFor="let display of displays; let i=index">
        {{display.formName}}
        <app-display [displayData]='display'></app-display>
    </div> -->


</div>