<div>
    <h3>Quate area.</h3>
    <form (ngSubmit)="submitDisplay()">
        <input class="form-control" type="text" name="name" [(ngModel)]="formName" placeholder="your name..">

        <input class="form-control" type="text" name="author" [(ngModel)]="formAuthor" placeholder="Authors name...">
        <textarea class="form-control" name="message" cols="30" rows="5" [(ngModel)]="formMessage"></textarea>

        <button type="submit" class="form-control" class="btn btn-info ">SEND</button>
    </form>
    <hr>
    <p>Name:</p>
    <p>Author:</p>
    <p></p>
</div>