<!-- <div> -->
<!-- <h5>Your Quates</h5>
    {{display}}
    <div>
        <p>{{display.formName}} </p>
        <p>{{display.formAuthor}} </p>
        <p>{{display.formMessage}} </p>
    </div>
</div> -->
<div class="border">
    <div *ngFor="let displayx of displays;">
        <p>{{displayx.formName}} </p>
        <p>{{displayx.formAuthor}} </p>
        <p>{{displayx.formMessage}} </p>
    </div>
</div>1
<app-quot-display></app-quot-display>
<!-- <app-form (event)="eventSubmit()"></app-form> -->